.Card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  width: 17vw;
  padding: 10px;
  text-align: center;
}

.Title {
  font-size: 16px;
}

.Price {
  font-size: 30px;
}

.Rate {
  font-size: 14px;
}

.Description {
  font-size: 14px;
  color: lightslategray;
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Details {
  font-size: 12px;
  color: whitesmoke;
  background-color: darkgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blue {
  background-color: darkblue;
  color: aliceblue;
}

.green {
  background-color: darkgreen;
  color: aliceblue;
}

.red {
  background-color: darkred;
  color: aliceblue;
}

.black {
  background-color: black;
  color: aliceblue;
}

.active {transition: width 2s;
width: 20vw; box-shadow: 1em 0 .4em grey, -1em 0 .4em grey;}
